// Common
$accent-color: #ec5b5c;
$success-color: #20c98b;
$light-color: #adb1bd;
$message-padding: 0.5rem;
$message-font-size: 0.875rem;
// Input placeholder
$placeholder-color: #d5dce6;
// .form
$form-padding-large: 3.46rem;
$form-padding-small: 1.3125rem;
$form-background: #e9eff2;
// .form__body
$body-width-large: 35.625rem;
$body-width-medium: 80%;
$body-width-small: 90%;
$body-background: #fff;
$body-padding-large: 2.125rem 4.25rem 2.125rem 4.25rem;
$body-padding-small: 2.125rem 2.125rem 2.125rem 2.125rem;
$body-color: #343e5c;
$body-margin-top: 1.3125rem;
// .form__content
$content-margin-top: 1.625rem;
// .form__label
$label-margin-top: 1.625rem;
$label-wide-large: 26.75rem;
$label-wide-small: 100%;
$label-normal-large: 12.4375rem;
$label-normal-small: 100%;
$label-color: #7a8196;
// .form__input
$input-border: 1px solid #d5dce6;
$input-margin-top: 0.75rem;
$input-padding: 0.6875rem;
// .form__button
$button-border-radius: 0 21px 21px 21px;
$button-color: #fff;
$button-background: #4ce0aa;
$button-background-hover: hsl(158, 72%, 48%);
$button-background-active: hsl(158, 73%, 40%);

.form {
  box-sizing: border-box;
  background: $form-background;
  height: auto;
  padding-top: $form-padding-large;
  padding-bottom: $form-padding-large;
  position: relative;

  &__body {
    box-sizing: border-box;
    display: inline-block;
    width: $body-width-large;
    background: $body-background;
    padding: $body-padding-large;
    color: $body-color;

    &_margin_top {
      margin-top: $body-margin-top;
    }

    &_border-radius {
      &_2 {
        border-radius: 2px;
      }

      &_4 {
        border-radius: 4px;
      }
    }
  }

  &__header {
    text-align: center;
    margin: 0;
    font-size: 2rem;
  }

  &__content {
    margin-top: $content-margin-top;
    font-size: 0.875rem;
    text-align: center;
  }

  &__label {
    font-size: 0.6875rem;
    margin-top: $label-margin-top;
    box-sizing: border-box;
    display: block;
    color: $label-color;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    &_width {
      &_normal {
        width: $label-normal-large;
      }

      &_wide {
        width: $label-wide-large;
      }
    }
  }

  &__input {
    box-sizing: border-box;
    font-size: 0.875rem;
    display: block;
    border: $input-border;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    margin-top: $input-margin-top;
    color: $body-color;
    text-transform: none;
    letter-spacing: 0em;

    &:focus {
      outline: none;
    }

    &_padding {
      padding-left: $input-padding;
      padding-right: $input-padding;
    }

    &_background_calendar {
      background: url("~/assets/calendar.png") no-repeat center right
        $input-padding;
    }
  }

  &__button {
    border: none;
    border-radius: $button-border-radius;
    height: 2.685rem;
    width: 100%;
    color: $button-color;
    background: $button-background;
    font-size: 0.6875rem;
    transition: background 0.1s ease-in;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background: $button-background-hover;
    }

    &:active {
      background: $button-background-active;
    }
  }

  &__error {
    box-sizing: border-box;
    text-align: center;
    // border: 1px solid rgba(#eb5a5a, 0.5);
    // border-radius: 5px;
    width: 100%;
    padding: $message-padding;
    font-size: $message-font-size;
    color: $accent-color;
  }

  &__success {
    box-sizing: border-box;
    text-align: center;
    // border: 1px solid rgba(#20c98b, 0.5);
    // border-radius: 5px;
    width: 100%;
    padding: $message-padding;
    font-size: $message-font-size;
    color: $success-color;
  }

  &__info {
    box-sizing: border-box;
    height: 4.375rem;
  }

  &__group {
    &_margin_top {
      margin-top: 0.9rem;
    }

    &_color {
      &_accent {
        color: $accent-color;
      }

      &_light {
        color: $light-color;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .form {
    &__body {
      width: $body-width-medium;
    }

    &__label {
      &_width {
        &_wide {
          width: $label-normal-small;
        }

        &_normal {
          width: $label-wide-small;
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .form {
    padding-top: $form-padding-small;
    padding-bottom: $form-padding-small;
    &__body {
      width: $body-width-small !important;
      padding: $body-padding-small;
    }
  }
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $placeholder-color;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $placeholder-color;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $placeholder-color;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $placeholder-color;
}
